.commentWrapper{
   height: calc(100vh - 112px);
   min-height:80px;   
   overflow: auto!important;
   padding: 10px 5px;
}
.commentWrapper h3{
  text-align: center;
}
.comments{
   margin: 10px auto;
   padding: 5px;
   width: 96%;   
}
.comments *{
   margin: 0;
}
.comment {
   margin-bottom: 10px;
   padding: 0 10px;
   border-bottom: 2px solid rgb(0, 0, 0); 
   border-top: 2px solid rgb(0, 0, 0); 
   border-radius: 10px;  
}
.comments h5{
   cursor: pointer;
   &:hover{
      color:#3b7d9c!important;
      font-weight: bold;
   }
}